@font-face {
  font-family: "open-sans";
  src: url(OpenSans-Regular.ttf);
}
html {
  font-family: "open-sans";
}

.homepage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.homepage > .callToAction {
  flex: 0 0 35rem;
  height: 10rem;
  border-color: red;
  margin-top: 30vh;
}

.homepage > .callToAction > h1 {
  font-size: 5rem;
  margin: 0;
}

.homepage > .callToAction > p {
  font-size: 2rem;
  margin: 0;
}

.homepage > span {
  display: flex;
}

.homepage > .callToAction > span > .discord_icon {
  height:2rem;
  width:auto;
  margin-top:1rem;
}
.homepage img {
  width: 40%;
}

